*{
    margin: 0px;
    padding: 0px;
}

body{
    background-color: black;
    color: white;
    font-family: Arial, Helvetica, sans-serif;
}

.container{
    max-width: 1000px;
    margin: auto;
}

hr{

    border: none;
    height: 1px;
    background-color: #333; /* Modern Browsers */

}

a:visited{
    text-decoration: none;
}
/* Header */

header{
    width: 100%;
    color: white;
    padding: 10px;
    display: inline-block;
    box-sizing: border-box;
}

.logo{
    float: left;
    padding: 10px;
}

.menu{
    float: right;
}

.menu li{
    display: inline-block;
    list-style-type: none;
    padding: 20px;
}

.menu a{
    text-decoration: none;
    color: white;
    margin-left: 10px;
}

.menu a:hover{
    color: #B52B35;
}

/* ----- CONTEÚDO 1 ----- */

.content1{
    height: 500px;
    width: 100%;
}

.formContainer{ /* Formulário */
    max-width: 400px;
    padding: 20px;
    float: left;
    margin-top: 110px;
}

.formContainer h2{
    margin-bottom: 20px;
    text-align: center;
}

input, select{
    width: 100%;
    color: white;
    box-sizing: border-box;
    padding: 10px;
    border: solid 2px white;
    margin-bottom: 10px;
    background-color: transparent;
    border-radius: 50px;
}

input[type="submit"]{
    color: white;
    border: solid 1px #B52B35;
    background-color:black;
    font-weight: bold;
    padding: 10px;
    border-radius: 50px;
}

input[type="submit"]:hover{
    background-color: #B52B35;
}

h2{
    font-size: 24px;
}
.image{
    float: right;
}

.image img{
    height: 500px;
    display: flex;
}

/* ----- CONTEÚDO 2 ----- */

.content2{
    height: 500px;
    text-align: center;
}

.image2 img{
    height: 500px;
    float: left;
}

.text h2{
    font-size: 24px;
    padding: 40px;
}

.text p{
    font-size: 18px;
    padding: 10px;
    text-align: left;
}

/* ----- FOOTER ----- */

footer{
    text-align: center;
    color: white;
    padding: 15px;
}

footer p{
    color: #c2c2c2;
    padding: 10px;
}

footer h3{
    color: #c2c2c2;
}

.socialmedia li{
    display: inline-block;
    padding: 5px;
    margin-top: 10px;
    margin-bottom: 10px;
}

.socialmedia img{
    height: 24px;
}

.creditos{
    font-size: 12px;
}

.creditos a{
    text-decoration: none;
    font-weight: bold;
    color: #c2c2c2;
}